.form-group
	margin-bottom 10px
	display flex
	flex-direction column

.form-control
	flex 1
	padding .5em 0
	font-size rem(16px)
	border none
	border-bottom 1px solid var(--shadow)
	transition .25s ease

	&:focus
		border-color var(--color-primary)
		outline 0

	&.has-error
		border-color var(--color-primary)

		&::placeholder
			color var(--color-primary)
