.v--modal-overlay
	z-index 2015

.v--modal-box
	@media (max-width 620px)
		max-width calc(100vw - 20px)
		margin auto

.vue-dialog
	button:focus
	button:active
		outline 0

	button:hover
		background var(--color-primary)
		color var(--color-background)

.dialog-c-title
	margin 0


.dialog-c-text
	.title-small
		margin-bottom 0
		font-size 1em
		font-weight 600

.vue-dialog-buttons
	button
		border-radius 0
		flex 1

.global-success
	text-align center
	font-size 5rem
	color var(--color-primary)
