.form-group
	margin-bottom 10px
	display flex
	flex-direction column

.form-control
	flex 1
	padding .5em 0
	font-size rem(16px)
	border none
	border-bottom 1px solid $color-shadow
	transition .25s ease

	&:focus
		border-color $color-red
		outline 0
