.v--modal-box
	@media (max-width 400px)
		max-width calc(100vw - 20px)
		margin auto

.vue-dialog
	button:focus
	button:active
		outline 0

	button:hover
		background $color-red
		color $color-white

.vue-dialog-buttons
	button
		border-radius 0
		flex 1
