// COLORS

$color-white = #fff
$color-black = #222
$color-red = #bb2b4d

$color-shadow = rgba(0, 0, 0, .35)


// FONTS

$font-stack-common = "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
$font-stack-heading = Snickles

$font-size-base = 16px
$font-size-title = rem(40px)

$font-size-heading-1 = rem(42px)
$font-size-heading-2 = rem(36px)
$font-size-heading-3 = rem(24px)
$font-size-heading-4 = rem(18px)


// MEDIA QUERIES

$mq-tablet = '(min-width %s)' % rem(723px)
$mq-desktop = '(min-width %s)' % rem(1024px)
